@model HealthInsurance.Models.PackageInsurance

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>PackageInsurance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PackageName" class="control-label"></label>
                <input asp-for="PackageName" class="form-control" />
                <span asp-validation-for="PackageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input onkeyup="formatInput(this)" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Limit" class="control-label"></label>
                <input onkeyup="formatInput(this)" asp-for="Limit" class="form-control" />
                <span asp-validation-for="Limit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <script type="text/javascript">
                function formatInput(input) {
                // Lấy giá trị từ input
                let value = input.value;

                // Loại bỏ tất cả các ký tự không phải là số
                value = value.replace(/\D/g, '');

                // Định dạng giá trị
                const formattedValue = value.replace(/\B(?=(\d{3})+(?!\d))/g, '.');

                // Gán giá trị đã định dạng lại vào input
                input.value = formattedValue;
}
            </script>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

