@model HealthInsurance.Models.DiseaseList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>DiseaseList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DiseaseId" />
            <div class="form-group">
                <label asp-for="DiseaseName" class="control-label"></label>
                <input asp-for="DiseaseName" class="form-control" />
                <span asp-validation-for="DiseaseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lv1" class="control-label"></label>
                <input asp-for="Lv1" class="form-control" />
                <span asp-validation-for="Lv1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lv2" class="control-label"></label>
                <input asp-for="Lv2" class="form-control" />
                <span asp-validation-for="Lv2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lv3" class="control-label"></label>
                <input asp-for="Lv3" class="form-control" />
                <span asp-validation-for="Lv3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

