@model HealthInsurance.Models.UserInformation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>UserInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InfId" />
            <div class="form-group">
                <label asp-for="AvtImage" class="control-label"></label>
                <input asp-for="AvtImage" class="form-control" />
                <span asp-validation-for="AvtImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardId" class="control-label"></label>
                <input asp-for="CardId" class="form-control" />
                <span asp-validation-for="CardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseDate" class="control-label"></label>
                <input asp-for="LicenseDate" class="form-control" />
                <span asp-validation-for="LicenseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrontImage" class="control-label"></label>
                <input asp-for="FrontImage" class="form-control" />
                <span asp-validation-for="FrontImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackImage" class="control-label"></label>
                <input asp-for="BackImage" class="form-control" />
                <span asp-validation-for="BackImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

